<a href="https://colab.research.google.com/github/vsnupoudel/Flask/blob/final/LfTask_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import random

In [4]:
!mkdir '/content/data/'

mkdir: cannot create directory ‘/content/data/’: File exists

In [5]:
train= pd.read_csv('/content/data/training.csv', delimiter=';', decimal=',')
test= pd.read_csv('/content/data/validation.csv', delimiter=';', decimal=',')
# random.seed(12)
train.sample(3)

     v1     v2        v3 v4        v5  ...   v14        v15  v16 v17  classLabel
2957  a  17.83  0.001100  u -0.010785  ...  3000        0.0  NaN   1        yes.
2102  a  22.83  0.000229  u -1.238763  ...  2384  1400000.0    t   1        yes.
3602  a  41.00  0.000204  y  1.122596  ...  1236  4550000.0  NaN   1        yes.

[3 rows x 18 columns]

In [6]:
test.sample(3)

      v1     v2        v3 v4        v5  ...  v14        v15  v16 v17  classLabel
115    b  42.00  0.000979  u  0.748151  ...    0        0.0    t   0        yes.
178    b  43.00  0.000029  y  1.201602  ...  375  1000000.0  NaN   1        yes.
173  NaN  20.42  0.000750  u  0.525192  ...  234  1600000.0    t   0        yes.

[3 rows x 18 columns]

In [8]:
train.to_csv('/content/data/train.csv')
test.to_csv('/content/data/test.csv')


# Extending pandas dataframe
[Reference for extending pandas api](https://pandas.pydata.org/pandas-docs/stable/development/extending.html)

In [47]:
class HLS(pd.DataFrame): 
    @property    
    def print_stats_numeric(self):
        return self.describe(include= np.number).transpose()
    
    @property    
    def print_stats_object(self):
        return self.describe(include= np.object).transpose()

In [48]:
tt = HLS(train)

In [49]:
tt.print_stats_numeric

      count          mean  ...           75%           max
v2   3661.0  3.282071e+01  ...  4.083000e+01  8.025000e+01
v3   3700.0  5.847872e-04  ...  9.625000e-04  2.800000e-03
v5   3700.0 -5.331808e-02  ...  2.406251e+00  4.999274e+00
v6   3700.0  7.841879e-01  ...  8.760522e-01  1.215066e+00
v7   3700.0  3.439496e+00  ...  5.000000e+00  2.850000e+01
v10  3700.0  4.160000e+00  ...  6.000000e+00  6.700000e+01
v13  3600.0  1.626950e+02  ...  2.800000e+02  1.160000e+03
v14  3700.0  2.246706e+03  ...  1.059750e+03  1.000000e+05
v15  3600.0  1.626950e+06  ...  2.800000e+06  1.160000e+07
v17  3700.0  9.254054e-01  ...  1.000000e+00  1.000000e+00

[10 rows x 8 columns]

In [50]:
tt.print_stats_object

           count unique   top  freq
v1          3661      2     b  2382
v4          3636      3     u  3055
v8          3700      2     t  3171
v9          3700      2     t  2239
v11         3700      2     f  1924
v12         3700      3     g  3430
v16         1555      2     t  1023
classLabel  3700      2  yes.  3424

# Tensorflow StatGen maybe better

In [51]:
import tensorflow_data_validation as tfdv

In [52]:
train_stats = tfdv.generate_statistics_from_csv(data_location='/content/data/train.csv')

In [54]:
tfdv.visualize_statistics(train_stats)